@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+VLG:wght@100..400&family=Sevillana&family=Yellowtail&display=swap");

.header5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
}

.banner2 {
  display: none;
  background-image: url("./backgrounds/a1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner2-text {
  /* font-family: "Grey Qo", cursive; */
  color: white;
  font-size: 70px;
}

.dropbtn2 {
  color: #02122b;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: -130px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  margin-left: 150px;
  display: inline-block;
  position: relative;
  font-family: "Cormorant", serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  /* border-radius: 30px; */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -130px;
  font-family: "Cormorant", serif;
  /* font-family: "Satisfy", cursive; */
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Cormorant", serif;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #02122b;
  color: white;
  font-family: "Cormorant", serif;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {
  color: #003dac;
}

.intro {
  color: #02122b;
  font-size: 90px;
  /* font-family: "Cormorant", serif; */
  font-family: "Grey Qo", cursive;
  text-align: center;
  flex: 1;
  font-weight: 590;
  /* margin-right: 3rem; */
}

.vid {
  width: 1535px;
  padding: 0;
}

#option {
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  height: 400px;
  border-bottom: 2px solid black;
}

.heading {
  font-size: 50px;
  color: #02122b;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-family: "Cormorant", serif;
  /* font-family: "Satisfy", cursive; */
}

.variety {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Neckpieces,
.Watches,
.earrings,
.bags {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 4px solid #02122b;
  overflow: hidden;
  /* Ensure the content stays within the borders */
}

.neck-img,
.watch-img,
.earring-img,
.bag-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.neckpiece-title,
.bag-title {
  position: absolute;
  color: white;
  font-weight: bold;
  font-family: "Cormorant", serif;
  /* font-family: "Dancing Script", cursive; */
  font-size: 30px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.Neckpieces:hover .neckpiece-title,
.bags:hover .bag-title,
.Watches:hover .watch-title,
.earrings:hover .ear-title {
  transform: translateY(250px);
  /* Move the text down, out of the div box */
}

.watch-title,
.ear-title {
  position: absolute;
  /* Position the text on top of the image */
  color: black;
  font-weight: bold;
  font-family: "Cormorant", serif;
  /* font-family: "Dancing Script", cursive; */
  font-size: 30px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.bags {
  color: white;
  font-size: 25px;
  font-weight: bold;
  background-image: url("./Bags/b1.jpg");
}

.Watches {
  color: black;
  font-size: 25px;
  font-weight: bold;
  background-image: url("./watches/w1.webp");
}

.earrings {
  background-image: url("./Earrings/e1.webp");
  font-size: 25px;
  color: black;
  font-weight: bold;
}

#neck,
#Bag {
  background-color: #02122b;
  height: 620px;
  border-bottom: 2px solid white;
}

.heading-1,
.heading-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Satisfy", cursive; */
  font-size: 60px;
  font-family: "Cormorant", serif;
  text-align: center;
  margin-bottom: 16px;
}

.heading-1 {
  color: #83aaf2;
  padding-top: 1rem;
  font-weight: 700;
  font-family: "Cormorant", serif;
  letter-spacing: 2px;
  font-size: 5rem;
  text-transform: uppercase;
  /* Added text animation */
  animation: titleAnimation 3s ease-in-out infinite alternate;
}

@keyframes titleAnimation {
  0% {
    color: #4f8bfa;
  }

  50% {
    color: #003dac;
  }

  100% {
    color: white;
  }
}

.carousel-track {
  display: flex;
  width: calc(100% * 8);
  /* 8 images (original + duplicate) */
  animation: scroll 12s linear infinite;
  /* Adjust duration as needed */
}

.heading-2 {
  color: #02122b;
  /* color: #83aaf2; */
  padding-top: 1rem;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Cormorant", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Added text animation */
  animation: titleAnimation 3s ease-in-out infinite alternate;
}

@keyframes titleAnimation {
  0% {
    color: #4f8bfa;
  }

  50% {
    color: #003dac;
  }

  100% {
    color: #052250;
  }
}

.carousel-track {
  display: flex;
  width: calc(100% * 8);
  /* 8 images (original + duplicate) */
  animation: scroll 12s linear infinite;
  /* Adjust duration as needed */
}

.dis1 {
  background-image: url("./Neckpieces/n1.jpeg");
  /* padding: 3px; */
  /* height: 60px; */
  /* margin-top: -1rem; */
}

.dis1:hover {
  background-image: url("./Neckpieces/n1-a.jpg");
}

.dis2 {
  background-image: url("./Neckpieces/n2.jpeg");
}

.dis2:hover {
  background-image: url("./Neckpieces/n2-a.jpg");
}

.dis3 {
  background-image: url("./Neckpieces/n9.png");
}

.dis3:hover {
  background-image: url("./Neckpieces/n3-a.jpg");
}

.dis4 {
  background-image: url("./Neckpieces/n4.jpg");
}

.dis4:hover {
  background-image: url("./Neckpieces/n4-a.jpg");
}

.dis5 {
  background-image: url("./Neckpieces/n5.jpg");
}

.dis5:hover {
  background-image: url("./Neckpieces/n5-a.jpg");
}

.dis6 {
  background-image: url("./Neckpieces/n6.webp");
}

.dis6:hover {
  background-image: url("./Neckpieces/n6-a.jpg");
}

.dis7 {
  background-image: url("./Neckpieces/n7.jpg");
}

.dis7:hover {
  background-image: url("./Neckpieces/n7-a.jpg");
}

.dis8 {
  background-image: url("./Neckpieces/n8.webp");
}

.dis8:hover {
  background-image: url("./Neckpieces/n8-a.jpg");
}

.dis8,
.dis1,
.dis2,
.dis3,
.dis4,
.dis5,
.dis6,
.dis7 {
  border-radius: 10%;
  /* border: 2px solid black; */
  height: 220px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

.like {
  position: absolute;
  top: 20px;
  right: 16px;
  transition: color 0.3s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.like.filled {
  color: #ff0011;
  /* Color when filled */
}

.disp {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.display1 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1d5f9;
  color: black;
  height: 350px;
  width: 270px;
  text-align: center;
  margin-left: 60px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.text2 {
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-size: 18px;
  font-weight: 500;
  font-family: "Cormorant", serif;
}

.price {
  margin-top: -10px;
  font-weight: 700;
}

.cta4,
.cta5,
.cta6,
.cta7 {
  display: none;
}

.cta3,
.cta2,
.cta,
.cta1,
.cta4,
.cta5,
.cta6,
.cta7 {
  margin-top: 50px;
  margin-left: 700px;
  border: none;
  background: none;
  cursor: pointer;
}

.cta2 span,
.cta span,
.cta4 span,
.cta6 span {
  color: #83aaf2;
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta1 span,
.cta5 span,
.cta3 span,
.cta7 span {
  color: #02122b;
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta3 svg,
.cta2 svg,
.cta1 svg,
.cta svg,
.cta4 svg,
.cta5 svg,
.cta6 svg,
.cta7 svg {
  color: #02122b;
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta3:hover svg,
.cta2:hover svg,
.cta1:hover svg,
.cta:hover svg,
.cta4:hover svg,
.cta5:hover svg,
.cta6:hover svg,
.cta7:hover svg {
  color: #02122b;

  transform: translateX(0);
}

.cta3:active svg,
.cta2:active svg,
.cta1:active svg,
.cta:active svg,
.cta4:active svg,
.cta5:active svg,
.cta6:active svg,
.cta7:active svg {
  color: #02122b;

  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #83aaf2;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #83aaf2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta1 .hover-underline-animation::after,
.cta5 .hover-underline-animation::after,
.cta3 .hover-underline-animation::after,
.cta7 .hover-underline-animation::after {
  background-color: #02122b;
}

.cta svg path,
.cta2 svg path,
.cta4 svg path,
.cta6 svg path {
  fill: #83aaf2;
}

.cta1 svg path,
.cta5 svg path,
.cta3 svg path,
.cta7 svg path {
  fill: #02122b;
}

.cta3:hover .hover-underline-animation:after,
.cta2:hover .hover-underline-animation:after,
.cta1:hover .hover-underline-animation:after,
.cta:hover .hover-underline-animation:after,
.cta4:hover .hover-underline-animation:after,
.cta5:hover .hover-underline-animation:after,
.cta6:hover .hover-underline-animation:after,
.cta7:hover .hover-underline-animation:after {
  transform: scaleX(1);
  color: #02122b;
  transform-origin: bottom left;
}

#more4,
#more3,
#more2,
#more,
.flip {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  flex-direction: row;
}

#more4,
#more,
#more2,
#more3 {
  display: none;
}

.wat1 {
  background-image: url("./watches/w1.webp");
}

.wat1:hover {
  background-image: url("./watches/w1-a.jpg");
}

.wat2 {
  background-image: url("./watches/w2.webp");
}

.wat2:hover {
  background-image: url("./watches/w2-a.jpg");
}

.wat3 {
  background-image: url("./watches/w3.webp");
}

.wat3:hover {
  background-image: url("./watches/w3-a.jpg");
}

.wat4 {
  background-image: url("./watches/w4.jpg");
}

.wat4:hover {
  background-image: url("./watches/w4-a.jpg");
}

.wat5 {
  background-image: url("./watches/w5.webp");
}

.wat5:hover {
  background-image: url("./watches/w5-a.jpg");
}

.wat6 {
  background-image: url("./watches/w6.jpg");
}

.wat6:hover {
  background-image: url("./watches/w6-a.jpg");
}

.wat7 {
  background-image: url("./watches/w7.webp");
}

.wat7:hover {
  background-image: url("./watches/w7-a.jpg");
}

.wat8 {
  background-image: url("./watches/w8.webp");
}

.wat8:hover {
  background-image: url("./watches/w8-a.jpg");
}

.wat8,
.wat7,
.wat6,
.wat5,
.wat4,
.wat3,
.wat1,
.wat2 {
  border-radius: 10%;
  /* border: 2px solid black; */
  height: 220px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

#watches {
  height: 620px;
  border-bottom: 2px solid black;
}

.b1 {
  background-image: url("./Bags/b1-a.jpg");
}

.b1:hover {
  background-image: url("./Bags/b1-b.jpg");
}

.b2 {
  background-image: url("./Bags/b2.webp");
}

.b2:hover {
  background-image: url("./Bags/b2-a.jpg");
}

.b3 {
  background-image: url("./Bags/b3.webp");
}

.b3:hover {
  background-image: url("./Bags/b3-a.jpg");
}

.b4 {
  background-image: url("./Bags/b4.webp");
}

.b4:hover {
  background-image: url("./Bags/b4-a.jpg");
}

.b5 {
  background-image: url("./Bags/b5.webp");
}

.b5:hover {
  background-image: url("./Bags/b5-a.jpg");
}

.b6 {
  background-image: url("./Bags/b6.jpg");
}

.b6:hover {
  background-image: url("./Bags/b6-a.jpg");
}

.b7 {
  background-image: url("./Bags/b7.webp");
}

.b7:hover {
  background-image: url("./Bags/b7-a.jpg");
}

.b8 {
  background-image: url("./Bags/b8.jpg");
}

.b8:hover {
  background-image: url("./Bags/b8-a.jpg");
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8 {
  border-radius: 10%;
  /* border: 2px solid black; */
  height: 220px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

#Ear {
  height: 620px;
  border-bottom: 2px solid black;
}

.e1 {
  background-image: url("./Earrings/e1.webp");
}

.e1:hover {
  background-image: url("./Earrings/e1-a.jpg");
}

.e2 {
  background-image: url("./Earrings/e2.jpg");
}

.e2:hover {
  background-image: url("./Earrings/e2-a.jpg");
}

.e3 {
  background-image: url("./Earrings/e3.jpg");
}

.e3:hover {
  background-image: url("./Earrings/e3-a.jpg");
}

.e4 {
  background-image: url("./Earrings/e4.webp");
}

.e4:hover {
  background-image: url("./Earrings/e4-a.jpg");
}

.e5 {
  background-image: url("./Earrings/e5.webp");
}

.e5:hover {
  background-image: url("./Earrings/e5-a.jpg");
}

.e6 {
  background-image: url("./Earrings/e6.webp");
}

.e6:hover {
  background-image: url("./Earrings/e6-a.jpg");
}

.e7 {
  background-image: url("./Earrings/e7.jpg");
}

.e7:hover {
  background-image: url("./Earrings/e7-a.jpg");
}

.e8 {
  background-image: url("./Earrings/e8.jpg");
}

.e8:hover {
  background-image: url("./Earrings/e8-a.jpg");
}

.e1,
.e2,
.e3,
.e4,
.e5,
.e6,
.e7,
.e8 {
  border-radius: 10%;
  /* border: 2px solid black; */
  height: 220px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

.footer2 {
  background-color: #02122b;
  padding-bottom: 35px;
}

.footer-heading {
  padding-top: 20px;
  color: #c1d5f9;
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  font-weight: 500;
}

.line {
  width: 1100px;
  color: #c1d5f9;
}

.foot {
  margin-left: 280px;
  margin-top: 50px;
  display: flex;
  gap: 120px;
  flex-direction: row;
  font-weight: 500;
  color: #83aaf2;
  padding-top: 1rem;
  font-weight: 700;
}

.c-hub {
  font-weight: lighter;
  /* font-family: "Montserrat Alternates", sans-serif; */
  /* text-transform: uppercase; */
  font-family: "Cormorant", serif;
  display: flex;
  flex-direction: column;
}

.c-heading {
  font-weight: 500;
  font-size: 20px;
  color: #83aaf2;
  font-family: "Cormorant", serif;
}

.c-content {
  color: #c1d5f9;
  font-style: italic;
  font-family: "Cormorant", serif;
}

.c-heading1 {
  font-weight: 500;
  color: #83aaf2;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Cormorant", serif;
  justify-content: center;
  align-items: center;
}

.connect {
  display: flex;
  flex-direction: row;
}

.set {
  display: inline-block;
  font-family: "Cormorant", serif;
  height: 37px;
  width: 37px;
  background-color: white;
  color: #311e8f;
  border-radius: 20px;
  margin-left: 16px;
}

.set:hover {
  animation: glow 1s infinite;
}

.link0 {
  color: #003dac;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link2 {
  color: #003dac;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link1 {
  color: #003dac;
  margin-left: 10px;
  margin-top: 7px;
}

.link {
  color: #003dac;
  margin-left: 7px;
  margin-top: 7px;
}

.link0:hover,
.link1:hover,
.link:hover,
.link2:hover {
  color: #83aaf2;
}

.mapping {
  margin-left: 120px;
  display: flex;
  margin-top: 20px;
  gap: 300px;
}

.newsletter {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: "Cormorant", serif;
}

.n-heading {
  font-weight: 600;
  /* font-family: "Montserrat Alternates", sans-serif; */
  /* text-transform: uppercase; */
  font-size: 20px;
  color: #83aaf2;
  font-family: "Cormorant", serif;
}

.input-email2 {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #83aaf2;
  font-family: "Cormorant", serif;
}

.input-email:hover {
  border-bottom: 2px solid black;
}

.input-email:focus {
  border: none;
}

.sign-up {
  font-family: "Cormorant", serif;
  margin-top: 20px;
  background-color: transparent;
  color: #83aaf2;
  padding: 10px;
  width: 150px;
  border: 2px solid #83aaf2;
}

.sign-up:hover {
  background-color: #c1d5f9;
  border: 2px solid #c1d5f9;
  color: black;
}

.copy {
  margin-top: 120px;
  font-size: 10px;
  color: #83aaf2;
}

.location {
  height: 300px;
  width: 400px;
}

body {
  font-family: "Cormorant", serif;
  /* font-family: "Montserrat Alternates", sans-serif; */
}

.addto {
  height: 60px;
  width: 200px;
  background-color: #132233;
  border: none;
  color: #bebebe;
  transition: 0.6s;
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  overflow: hidden;
}

.addto span {
  transform: translateX(10px);
  transition: 0.5s;
}

.addto svg {
  transform: translateX(-300px);
  transition: 0.6s;
  z-index: 3;
  height: 20px;
}

.addto:hover {
  width: 60px;
  background-color: rgba(51, 34, 51, 0.815);
}

.addto:hover svg {
  transform: translateX(-5px);
}

.addto:hover span {
  transform: translateY(70px);
  font-size: 0.1rem;
}
@media screen and (max-width: 915px) {
  #search-bar {
    display: none;
  }

  .intro {
    font-size: 70px;
    margin-left: -70px;
  }

  .slideshow {
    display: none;
    width: 98rem;
  }

  .banner2 {
    display: flex;
  }

  .variety {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #option {
    height: 500px;
  }

  .Neckpieces,
  .Watches,
  .earrings,
  .bags {
    height: 150px;
    width: 150px;
  }

  .heading-1 {
    font-size: 50px;
  }
  .heading-2 {
    font-size: 50px;
  }

  .disp {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
  }

  .display1 {
    margin-left: 5px;
    height: 260px;
    width: 170px;
  }

  .dis1,
  .dis2,
  .dis3,
  .dis4,
  .wat1,
  .wat2,
  .wat3,
  .wat4,
  .b1,
  .b2,
  .b3,
  .b4,
  .e1,
  .e2,
  .e3,
  .e4 {
    height: 120px;
    width: 140px;
  }

  #neck,
  #watches,
  #Bag,
  #Ear {
    height: 700px;
  }

  .cta,
  .cta1,
  .cta2,
  .cta3 {
    display: none;
  }

  .foot {
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: space-around;
    margin-left: 10px;
    gap: 2px;
  }

  .line {
    width: 300px;
  }

  .mapping {
    margin-left: 20px;
    flex-direction: column;
    gap: 10px;
  }

  .location {
    width: 350px;
  }

  .input-email {
    width: 300px;
    margin-left: -100px;
  }

  .copy {
    display: none;
  }

  .n-heading {
    margin-left: -120px;
  }

  .sign-up {
    margin-left: -30px;
  }
}
