@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+VLG:wght@100..400&family=Sevillana&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Matemasie&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&family=Sevillana&family=Yellowtail&display=swap");

body {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
}

#welcome-msg {
  margin-top: 20px;
  font-family: serif;
  font-size: 40px;
  color: #02122b;
  text-align: center;
  margin-bottom: 20px;
}

#modal {
  z-index: 1000;
  display: none;
  position: fixed;
  padding-top: 20px;
  left: 260px;
  top: 0;
  height: 100%;
  width: 1280px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #c1d5f9;
  margin: auto;
  padding: 20px;
  border: 10px double #02122b;
  width: 50%;
  padding-bottom: 100px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #02122b;
  text-decoration: none;
  cursor: pointer;
}

.brand-options {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.brand-logo {
  border: 5px solid #02122b;
  background-image: url("./backgrounds/logo.jpg");
  height: 150px;
  width: 150px;
  background-size: cover;
}

.box-quote {
  margin-top: 10px;
  font-size: 50px;
  font-family: "Grey Qo", cursive;
}

.login {
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  background-color: #02122b;
  color: #c1d5f9;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  cursor: pointer;
}

.login:hover {
  animation-name: fill;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes fill {
  from {
    background-color: #02122b;
    color: #c1d5f9;
  }
  to {
    background-color: #c1d5f9;
    color: #02122b;
  }
}
.login1 {
  text-decoration: none;
}

.or {
  color: #fa8b8b;
  font-size: 20px;
}
.navbar {
  background-color: #02122b;
  height: 100%;
  width: 260px;
  top: 0;
  position: fixed;
}
#front {
  /* background-image: url("/backgrounds/bg16.webp"); */
  height: 750px;
  width: 1260px;
  margin-left: 260px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 1270px 750px;
  border-bottom: 2px solid #02122b;
}
.name {
  font-size: 200px;
  margin-top: 200px;
  color: #02122b;
  font-family: "Grey Qo", cursive;
  margin-left: 650px;
  cursor: pointer;
  /* display:inline-block;
  overflow:hidden;
  white-space:nowrap; */
}

.tagline {
  color: #02122b;
  font-size: 25px;
  cursor: pointer;
  /* font-style: italic; */
  margin-top: 450px;
  margin-left: -350px;
  /* display:inline-block;
  overflow:hidden;
  white-space:nowrap; */
}

.profile {
  text-align: center;
  margin-top: 30px;
}
.profile-pic {
  margin-top: 1rem;
  height: 120px;
  width: 120px;
  border: 5px solid #83aaf2;
}

.text-light {
  color: #c1d5f9;
  font-family: "Grey Qo", cursive;
  font-size: 50px;
  margin-top: -6px;
  font-weight: 300;
}

.link0 {
  color: #02122b;
  margin-left: 8.5px;
  margin-top: 6px;
}

.link {
  color: #02122b;
  margin-left: 7px;
  margin-top: 7px;
}

.link1 {
  color: #02122b;
  margin-left: 7.5px;
  margin-top: 7px;
}

.link2 {
  color: #02122b;
  margin-left: 7px;
  margin-top: 6px;
}

.link0:hover,
.link1:hover,
.link:hover,
.link2:hover {
  color: #c1d5f9;
}

.set {
  display: inline-block;
  height: 37px;
  width: 37px;
  background-color: #83aaf2;
  /* color: #96151e; */
  border-radius: 20px;
  margin-left: 18px;
}

.social-links {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.icon {
  margin-left: -90px;
  color: #c1d5f9;
}

.icon1 {
  color: #c1d5f9;
  margin-left: -88px;
}
.icon2 {
  color: #c1d5f9;
  margin-left: -83px;
}
.icon-name {
  font-size: 20px;
  margin-left: 7px;
  color: #c1d5f9;
}

.icon-name:hover {
  /* animation:  1s ease-in-out infinite alternate; */
  text-shadow: 0px 0px 5px #ded5d7;
  color: #c1d5f9;
  font-weight: 600;
}
/* 
.cpy {
  margin-top: -20px;
  margin-left: 100px;
  color: #ff6788;
  font-size: 10px;
} */

.dropbtn {
  background-color: #02122b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-top: 100px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -110px;
  right: -125px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #02122b;
  z-index: 1;
}

.dropdown-content a {
  color: #02122b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c1d5f9;
  color: #02122b;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #02122b;
}

#Explore {
  margin-left: 10px;
}
#backvid {
  /* height: 100vh;
  width: 100vw;
  object-fit: cover;
  margin-left:250px;
  display: flex; */
  height: 100vh;
  width: 99.99%;
  object-fit: cover;
  margin: 0; /* Removes any extra space */
  position: static; /* Ensures video stays in place while scrolling */
  top: 0;
  left: 0;
  /* z-index: -1; Sends video to the background */
}
.title1 {
  font-size: 70px;
  margin-left: 260px;
  margin-top: -3px;
  font-weight: 700;
  color: #02122b;
  text-align: center;
  margin-bottom: -30px;
}
.eve {
  margin-left: 29rem;
  margin-top: 0.1px;
}
.t1 {
  font-size: 30px;
  margin-left: 17rem;

  /* font-weight: 500; */
  color: #02122b;
  text-align: center;
}
#wrapper {
  display: flex;
  /* gap: 10rem; */
  width: 50%;
  justify-content: space-around;
}

.card {
  width: 72rem;
  gap: 10rem;
  height: 360px;
  margin-left: 280px;
  margin-top: 2rem;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(-10px);
}

.card:hover::before {
  opacity: 1;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.info h1 {
  margin: 0;
}

.info-p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
#abt {
  margin-left: 260px;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}
.chotewali {
  position: absolute;
  z-index: 4;
  margin-top: 3rem;
  margin-left: 42rem;
}
.kamini img {
  z-index: 0;
  margin-right: 2rem;
  width: 25rem;
  height: 40rem;
  margin-left: 15rem;
}
.dedibas {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #02122b;
  margin-top: 10rem;
}
.dedibas-p {
  font-size: 15px;
  font-weight: 400;
}
.myname {
  color: #ea8ebc;
  font-size: 50px;
  font-family: "Satisfy", cursive;
  margin-left: 140px;
}

.animated-button {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: -10rem;
  /* gap: 4px; */
  /* margin-top: 10px; */
  margin-left: 420px;
  /* margin-right: -10px; */
  padding: 3px 50px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #02122b;
  box-shadow: 0 0 0 2px #83aaf2;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  /* margin-bottom: 10px; */
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #02122b;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #83aaf2;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 50px;
  padding: 10px 50px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0px 0px 13px #83aaf2;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

#explore2 {
  display: none;
}

footer {
  margin-left: 280px;
  padding-bottom: 10px;
}

.foot {
  margin-top: 20px;
  display: flex;
  gap: 120px;
  margin-left: 100px;
  flex-direction: row;
}

.footer-heading {
  color: #02122b;
  margin-top: 80px;
  /* font-family: serif;; */
  font-family: "Montserrat Alternates", serif;
  font-size: 70px;
  text-align: center;
  font-weight: 700;
}
.c-heading {
  font-weight: 600;
}
.c-hub {
  font-family: "Montserrat Alternates", sans-serif;

  display: flex;
  flex-direction: column;
}
.n-heading {
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;

  font-size: 20px;
  color: grey;
}
.c-content {
  color: grey;
  font-style: italic;
  padding-top: 3px;
}

.newsletter {
  display: flex;
  flex-direction: column;
}
.input-email2 {
  margin-left: -10px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid grey;
}

.input-email2:hover {
  border-bottom: 2px solid black;
}

/* .input-email:focus {
  border: none;
} */
.c-heading {
  font-size: 20px;
}
.c-heading1 {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.sign-up {
  margin-top: 20px;
  background-color: transparent;
  color: grey;
  padding: 10px;
  width: 150px;
  border: 2px solid grey;
}

.sign-up:hover {
  border: 2px solid black;
  color: white;
  background-color: #02122b;
}

.connect {
  display: flex;
  flex-direction: row;
}

.copy {
  margin-top: 120px;
  font-size: 10px;
  color: grey;
}

.mapping {
  margin-left: 110px;
  display: flex;
  margin-top: 20px;
  gap: 300px;
}
.location {
  height: 300px;
  width: 400px;
}
.line {
  width: 1100px;
}

@media screen and (max-width: 915px) {
  nav.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 5;
  }

  #backvid {
    display: none;
  }

  hr {
    display: none;
  }

  .chotewali {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }

  .chotewali video {
    width: 330px;
  }
  .kamini img {
    margin-right: 0;
    margin-top: -3rem;
    margin-left: -14.5rem;
    width: 350px;
  }

  .animated-button {
    margin-top: 10px;
    margin-left: 6rem;
  }
  .part {
    display: block;
    width: 350px;
    margin-top: 60px;
  }
  .dedibas {
    margin-left: 50px;
    margin-top: 38rem;
  }

  .dedibas p {
    font-size: 12px;
  }

  .profile {
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  .profile-pic {
    margin-top: 3px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border: 4px solid #83aaf2;
  }
  .text-light {
    margin-top: -10px;
    margin-left: 30px;
    font-size: 60px;
    justify-content: space-between;
  }
  .media-links {
    display: none;
  }
  .social-links {
    display: none;
  }
  .icon-name {
    display: none;
  }
  .dropdown {
    margin-top: 15px;
    margin-left: -230px;
    font-size: larger;
  }
  .dropbtn {
    margin-left: 300px;
  }
  .dropdown-content {
    top: 40px;
    right: -5px;
    min-width: 100px;
  }
  #front {
    margin-left: 0;
    width: 100%;
    background-size: cover;
    min-height: 700px;
    background-image: url("./backgrounds/bg_1.jpg");
    border: none;
    background-attachment: fixed;
    margin-top: 80px;
  }
  .name {
    display: none;
  }
  .tagline {
    display: none;
  }
  #Explore {
    margin-left: 2px;
  }
  .title1-2 {
    margin-left: 75px;
    font-size: 25px;
    display: inline;
  }

  .title1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 40px;
    margin-left: 0;
  }

  .t1-2 {
    margin-left: 155px;
    display: inline;
  }

  .t1 {
    margin-top: 1px;
    margin-left: 2rem;
  }

  .container {
    display: none;
  }
  .images {
    display: none;
  }
  #explore2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .im {
    margin-top: 20px;
    display: flex;
    margin-left: 120px;
  }
  .im-2 {
    display: flex;
    margin-left: 215px;
  }
  #abt {
    margin-left: 0;
  }
  .title2 {
    font-size: 24px;
  }

  .me {
    height: 350px;
    width: 300px;
    margin-left: 10%;
  }
  .paper {
    width: 350px;
    height: 350px;
  }

  .button {
    display: none;
  }

  .paper-text {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    margin-top: 20px;
  }
  .myname {
    margin-left: 80px;
  }
  .button1 {
    margin-left: 86px;
  }
  .expbtn1 {
    display: flex;
  }

  .card {
    margin-left: 1rem;
    width: 21rem;
  }
  footer {
    margin-left: 0;
  }
  .footer-heading {
    margin-top: -5px;
    font-size: 50px;
  }
  .line {
    display: block;
    width: 300px;
  }

  .foot {
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: space-around;
    margin-left: 10px;
    gap: 2px;
  }
  .c-heading1 {
    margin-left: 0;
  }
  .mapping {
    margin-left: 30px;
    flex-direction: column;
    gap: 10px;
  }
  .location {
    width: 350px;
  }
  .input-email {
    width: 250px;
  }

  .sign-up {
    margin-left: 80px;
  }
  .connect {
    margin-left: -25px;
  }
  .copy {
    display: none;
  }
  #modal {
    display: none;
  }
}
